<h1 class="page_header">Timesheet Administration</h1>

<div id="searchbar" style="height:30px;margin:10px;border:1px solid #000000;padding:4px;">

<div class="heading_text" style="float:left;margin-right:216px;margin-left:10px;">View </div>

<select id="status">
        <option value="">All</option>
        <option value="0">Pending</option>
        <option value="1">Rejected</option>
        <option value="2">Approved</option>
</select>

<div class="heading_text" style="float:left;margin-right:216px;"> Timeheets for </div>

<%= collection_select("timesheet", "user_id", @users, :id, :username, options ={:prompt => "All Users"}, :class =>"user") %>

</div>

<div id="tablebar" style="margin:10px;padding:4px;">

<div id="admin_timesheets">
    <div class="tr">
        <div class="td">User</div>
        <div class="td">Start</div>
        <div class="td">End</div>
        <div class="td">Status</div>
        <div class="td"></div>
    </div>
    <div style="clear:left;"></div>

<%
@timesheets.each do |timesheet|
    days = timesheet.timesheet_days
    if days.length > 0
%>
    <div class="tr">
        <div class="td">
            <%=timesheet.user.first_name%>
            <%=timesheet.user.last_name%>
        </div>
        <div class="td">
            <%=convert_to_us_date_string(days[0].date_worked)%>
        </div>
        <div class="td">
            <%=convert_to_us_date_string(days[days.length-1].date_worked)%>
        </div>
        <div class="td">
            <%=render :partial=>"/timesheets/timesheet_status", :locals=>{:status=>timesheet.status}%>
        </div>
        <div class="td">
            <%#= button_to "Edit", edit_timesheet_path(timesheet), :method=>:get, :class=>"button inline-left" %>
            <%#= button_to "View", timesheet_path(timesheet), :method=>:get, :class=>"button inline-left" %>
            <%#=render :partial=>"common/button", :locals=>{:title=>"View", :link=>timesheet_path(timesheet), :custom_class=>"inline-left"}%>            
            <%=render :partial=>"common/remote_button", :locals=>{:label=>"Change Status",
                      :remote_function=>remote_function(:url=>admin_timesheet_path(timesheet), :method=>:get)}%>

        <%if timesheet.status != 2%>
            <%#= button_to "Delete", timesheet_path(timesheet), :method=>:delete, :class=>"button inline-left",
                            :confirm=>"Are you sure you want to delete this timesheet?" %>
            <%=render :partial=>"common/button", :locals=>{:title=>"Delete", :link=>timesheet_path(timesheet), :custom_class=>"inline-left",
                        :method=>:delete, :confirm=>"Are you sure you want to delete this timesheet?"}%>
        <%end%>
        </div>
    </div>
    <div style="clear:left;"></div>
    <% end %>
<% end %>
</div>

</div>

<script type="text/javascript">
$(function(){
    $("#status").val(getParameterByName("status"));
    $('#status').sexyselect({
        title: $("#status option:selected").text(),
        allowDelete: false,
        selectionMode: 'single',
        expanded: false,
        onItemSelected: submitSearch
    });

    $("#timesheet_user_id").val(getParameterByName("timesheet_user_id"));
    $('#timesheet_user_id').sexyselect({
        title: $("#timesheet_user_id option:selected").text(),
        allowDelete: false,
        selectionMode: 'single',
        expanded: false,
        onItemSelected: submitSearch
    });

    //$("#status").val(getParameterByName("status"));
    //$("#status").change(submitSearch);
    //$("#timesheet_user_id").val(getParameterByName("timesheet_user_id"));
    //$("#timesheet_user_id").change(submitSearch);
});
function getParameterByName( name )
{
    name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
    var regexS = "[\\?&]"+name+"=([^&#]*)";
    var regex = new RegExp( regexS );
    var results = regex.exec( window.location.href );
    if( results == null )
        return "";
    else
        return results[1];
}
function submitSearch()
{
    if($("#status").val().length > 0 && $("#timesheet_user_id").val().length > 0)
        document.location.search = "?timesheet_user_id=" + $("#timesheet_user_id").val() + "&status=" + $("#status").val();
    else if($("#status").val().length > 0)
        document.location.search = "?status=" + $("#status").val();
    else if($("#timesheet_user_id").val().length > 0)
        document.location.search = "?timesheet_user_id=" + $("#timesheet_user_id").val();
    else
        document.location.search = "";
}
</script>